.inner-inner-box button{
    min-height: 7vh;
    min-width: 5vw;
    max-height: 7vh;
    max-width: 5vw;
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 0.25rem 0.25rem 0.01rem 0 rgba(0, 0, 0, 0.897);
    transform: translateY(0);
    transition: background-color 0.5s ease-out, color 0.5s ease-out, transform 0.1s ease-out, box-shadow 0.1s ease-out;

}

.inner-inner-box button:active, .inner-inner-box .active{
    box-shadow: 0rem 0rem 0rem 0 rgba(0, 0, 0, 0.815);
    transform: translateY(3px);
}

.on{
    color: #ffffff;
    background-color: #2a3bbd;
}

.on-plus{
    background-color: white;
    color: black;
}

@media only screen and (max-width: 1165px){
    .inner-inner-box button{
        min-width: 8vw;
    }
    
}


@media only screen and (max-width: 511px){
    .inner-inner-box button{
        min-width: 14vw;
    }
    
}


@media only screen and (max-width: 245px){
    button{
        min-width: 20vw;
    }
    
}